* {
	padding: 0;
	margin: 0;
	font-family: 'Open Sans', sans-serif, Calibri, Arial;
}

header {
	height: 550px;
}

nav {
	width: 100%;
	height: auto;
	background-color: #01003B;
	z-index: 1;
	border-bottom:
}

#navigation {
	width: 80%;
	height: auto;
	margin: 0 auto;
}

.navigationItem {
	float: left;
	width: auto;
	padding: 10px 3% 25px 3%;
}

.navigationItem a, p {
	text-decoration: none;
	color: white;
	font-weight: 900;
	font-size: 1.3em;
}

.navigationItem p {
	font-weight: normal;
}

.selected {
	position: relative;
}

.selected:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 0 20px 20px;
	border-color: #FFFFFF transparent;
	display: block;
	width: 0;
	top: 43px;
	z-index: 1;
	left: 35%;
}

.select {
	width: 100%;
	background-color: white;
	height: 10px;
	border-bottom: 2px solid #01003B;
}

.clear {
	clear: both;
}

.teaser {
	position: relative;
	width: 250px;
	height: 120px;
	padding: 0px;
	background: #01003B;
}

.teaser:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 20px 15px 0;
	border-color: #01003B transparent;
	display: block;
	width: 0;
	z-index: 1;
	bottom: -20px;
	left: 110px;
}

#container {
	width: 75%;
	margin: 0 auto;
}

.bannerSide {
	height: 150px;
	width: 100%;
	background-color: #01003B;
	margin-top: 100px;
}